#popup {
    position: relative;
    top: -500px;
    right: -50%;  
    width: 50%;
}
.popup-container {
    background-color: #fff;
    padding: 1rem;
    opacity: 0.8;
    margin: 0;
    height: 100%;   
    -webkit-box-shadow: -3px 3px 5px -2px rgba(0,0,0,0.7); 
    box-shadow: -3px 3px 5px -2px rgba(0,0,0,0.7);  
    border-radius: 0px 0px 0px 12px;
    -webkit-border-radius: 0px 0px 0px 0.5rem;
    -moz-border-radius: 0px 0px 0px 0.5rem;    
}
.popup-heading, .popup-mail, .popup-website, .popup-activities {
    display: flex;   
}
.popup-activities {
    border-bottom: #9DA9B1 1px solid;
    border-top: #9DA9B1 1px solid;  
    margin-bottom: 0.75rem;
    padding: 0.5rem 0;
}
.popup-heading, .popup-activities {
    align-items: center;
}
.popup-activities .popup-icon {
    padding-top: 0.5rem;    
    margin-right: 0.5rem;
}
.popup-logo {
    margin-right: 0.5rem;
}
.popup-logo img {
    width: 25px;    
}
.popup-logo h2 { 
    margin: 0;    
}
.popup-contact .popup-icon, .popup-activities .popup-icon {
    width: 24px;
}
.popup-ctext {
    padding-top: 0.15rem;    
}
.popup-name h2 {
    font-size: 1rem;
}  
#popup .popup-ctext, #popup .popup-desc {
    font-size: 0.75rem;
}
.popup-close:after{
    text-align: right;
    display: block;
    content: "\00d7"; /* This will render the 'X' */
    margin-bottom: -1.5rem;
    cursor: pointer; 
}

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 576px) { 
    #popup {   
        width: 40%;
        right: -60%;  
    }  
    .popup-logo img {
        width: 25px;    
    }       
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
    #popup {   
        width: 35%;
        right: -65%;  
    }   
    .popup-logo img {
        width: 30px;    
    }   
    .popup-name h2 { 
        font-size: 1.25rem;    
    } 
    #popup .popup-ctext, #popup .popup-desc {
        font-size: 0.9rem;
    }     
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) { 
    #popup {   
        width: 30%;
        right: -70%;  
    } 
    #popup .popup-ctext, #popup .popup-desc {
        font-size: 1rem;
    }    
    .popup-name h2 { 
        font-size: 1.5rem;    
    }     
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) { 
    #popup {   
        width: 25%;
        right: -75%;          
    }   
    .popup-logo img {
        width: 40px;    
    }       
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) { 
    #popup {   
        width: 25%;
    }      
}

